
/* tab formatting */
.tab button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2em;
}

#Dialer{
  visibility: visible;
}
#CL{
  visibility: none;
}
#AC{
  visibility: none;
}


/*dialer stuff till line 74*/
.dialerinputbox{
  position: absolute;
  top:20%;
  width: 80%;
  left:18%;
}
.dialer_input{
  height: 3em;
  width: 80%;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 12%;
  left: 18%;
}

button {
  width:25%;
  float:left;
  margin: 1%;
  background-color: grey;
  border:2px solid black;
}

.row1 {
  position: absolute;
  top:30%;
  width:80%;
  left: 18%;
}

.row2 {
  position: absolute;
  top:40%;
  width:80%;
  left:18%;
}
.row3{
  position: absolute;
  top:50%;
  width:80%;
  left:18%;
}
.row4{
  position: absolute;
  top:60%;
  width:80%;
  left:18%;
}
.row5{
  position: absolute;
  top:70%;
  width:80%;
  left:30%;
}
.dial {
  text-align: center;
}
/*end of dialer stuff*/

/*beginning of Contact List stuff*/
.CList_container{
  position: absolute;
  font-style: italic;
  font-size: 2em;
  left: 18%;
  width: 80%;
  top: 20%;
  height:100;
  font-color: #779676;
}
.contact_button{
  background-color: #779676;
  text-align: center;
  width:70%;
}
li{
  list-style-type: none;
}

/* beginning of Add Contact stuff*/
.AC_container{
  position:absolute;
  top: 20%;
  width:80%;
  left: 18%;
  height:100%;
}
.ACinputdiv{
  width: 50%;
  font-size: 2em;
  height: 1em;
  margin-right: 100%;
}

/*bad solution but its late and I'm tired*/
.AC_button1{
  position: absolute;
  height: 5%;
  top: 30%;
  width: 30%;
}
.AC_button2{
  position: absolute;
  height: 5%;
  top: 30%;
  left: 32%;
  width: 30%;
}
